button,
button:active{
  background-color: transparent;
  border:none;
  outline:none;
  padding:0;
  font-family: 'Indie Flower';
}

p{
  color:black;
}

.App{
  background-image:url(notebook_page.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100% 100%;
  height:100vh;
  width:72vh;
  display:flex;
  align-items:center;
  flex-direction: column;
}

.changeMode{
  font-size:3vh;
  display:flex;
  flex-direction:column;
  margin-top:15vh;
}

.Game{
  display:flex;
  align-items:center;
  flex-direction: column;
}

.Game .board{
  z-index:1;
  display: grid;
  height:15vh;
  width:15vh;
  grid: repeat(3, 33%) / auto-flow 33%;
  overflow:hidden;
  background-image: url(gameBase.svg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.Square{
  height:100%;
  width:100%;
}

.Square  p{
  position: relative;
  font-size:4vh;
  margin:0;
  top:-0.5vh;
}

.Game .reset{
  font-size:3vh;
}

.Game .result p{
  opacity: 0.8;
  font-size:5vh;
  color:red;
}

@media (max-height:700px) and (max-width:500px){

  .App{
    height:100%;
    width:100%;
  }
  
  .changeMode{
    font-size:6vh;
    margin-top:10vh;
  }
  
  .Game .board{
    height:30vh;
    width:30vh;
  }
  
  .Square  p{
    font-size:8vh;
  }
  
  .Game .reset{
    font-size:6vh;
  }
  
  .Game .result p{
    font-size:10vh;
  }

}